@font-face {
    font-family: 'iconfont';  /* project id 342542 */
    src: url('//at.alicdn.com/t/font_4xzdwdokieijm7vi.eot');
    src: url('//at.alicdn.com/t/font_4xzdwdokieijm7vi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_4xzdwdokieijm7vi.woff') format('woff'),
    url('//at.alicdn.com/t/font_4xzdwdokieijm7vi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_4xzdwdokieijm7vi.svg#iconfont') format('svg');
}

.icon-arrow {
    font-family: 'iconfont', serif;
    font-size: 20px;
    color: #000000;
}

.icon-arrow:before {
    content: attr(icon);
}

.icon-dianying {
    font-family: 'iconfont', serif;
    font-size: 20px;
    color: #fff;
}

.icon-dianying:before {
    content: attr(icon);
}

